.row {
    display: flex;
    padding-left: 20px;
}

.column {
    flex: 50%;
}

.dots {
    fill: black;
    stroke: black;   
}

.dots:hover {
    fill:rgb(11, 243, 11);
    stroke: rgb(11, 243, 11);
    stroke-width: 5px;
}

.clicked {
    fill: red !important;
    stroke: red !important;
    stroke-width: 5px;
}

.brush {
    fill-opacity: .05;
    stroke: blue;
    shape-rendering: crispEdges;
}

.brushed {
    fill: yellow;
}

.faded {
    fill: lightgray;
    stroke: none;
}

h1 {
    text-align: center;
}

#universityTitle {
    margin-left: 20px !important;
    margin-right: 20px !important;
}
