.row {
    display: flex;
}

.column {
    flex: 50%;
}

.dots {
    fill: black;
    stroke: black;   
}

.dots:hover {
    fill:rgb(11, 243, 11);
    stroke: rgb(11, 243, 11);
}

.clicked {
    fill: red !important;
    stroke: red !important;
}